<!-- Start Header -->
<div class="header">
  <nav class="navbar">
    <div class="content-header content">
      <div class="content-header-navigation">
        <div class="img-logo">
          <a href><img class="logo-header" src="/assets/logo250.png" alt="logo" /></a>
        </div>
        <ul class="nav-items pull-right">
          <li><a class="navbar-link" href>PRENSA</a></li>
          <li><a class="navbar-link" href>BLOG</a></li>
          <li><a class="navbar-link" href>CONTACTO</a></li>
        </ul>
      </div>
      <div class="content-header-title">
        <h2 class="header-title">La forma inteligente de beber cerveza.</h2>
        <h4>Dinos qué te apetece tomar y nosotros te diremos dónde.</h4>
      </div>
      <div class="content-header-link">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="col-md-6">
              <div class="content-app-store">
                <img src="assets/appstore.png" alt="" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="content-play-store">
                <img src="assets/googleplay.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
<!-- End Header -->
<!-- Start Section 1 -->
<div class="section-1">
  <div class="content">
    <div class="col-md-4">
      <div class="img-phone">
        <img class="phone-one" src="/assets/phone_1.png" alt="phone screen" />
      </div>
    </div>
    <div class="col-md-8">
      <div class="text-phone-one">
        <h1>La cerveza es algo serio.</h1>
          p CervezaYa es la aplicación móvil que te permite beber cerveza de manera inteligente. ¿Cuál es tu marca favorita? ¿Te apetece beberla en caña, botellín o jarra? ¿Buscas un plan económico?
          p CervezaYa encuentra los bares más cercanos en los que podrás disfrutar de la cerveza que quieres. Y no te preocupes por cómo ir al bar, la app te guiará.
          p Queremos que cambies tu manera de consumir cerveza: descubre nuevos sitios y consume de manera inteligente.
      </div>
    </div>
  </div>
</div>
<!-- End Section 1 -->
<!-- Start Section 2 -->
<div class="section-2">
  <div class="content">
    <h1>La revolución del cerveceo</h1>
    <div class="icons">
      <div class="icon-heart col-md-3">
        <i class="glyphicon glyphicon-heart"></i>
        p Encuentre tu cerveza justo como te gusta.
      </div>
      <div class="icon-bear col-md-3">
        <i class="glyphicon glyphicon-heart"></i>
        p Elige en qué bar quieres bebértela fresquita.
      </div>
      <div class="icon-percentage col-md-3">
        <i class="glyphicon glyphicon-heart"></i>
        p Te mostramos las mejores ofertas de la ciudad.
      </div>
      <div class="icon-direction col-md-3">
        <i class="glyphicon glyphicon-heart"></i>
        p ¡No te pierdas! Te guiamos hasta que llegues al bar.
      </div>
    </div>
  </div>
  <!--<div class="row">
    <div title="Code: 0xe804" class="the-icons span3"><i class="demo-icon icon-noun_2726">&#xe804;</i> <span class="i-name">icon-noun_2726</span><span class="i-code">0xe804</span></div>
    <div title="Code: 0xe805" class="the-icons span3"><i class="demo-icon icon-discount4">&#xe805;</i> <span class="i-name">icon-discount4</span><span class="i-code">0xe805</span></div>
    <div title="Code: 0xe806" class="the-icons span3"><i class="demo-icon icon-noun_47617_cc">&#xe806;</i> <span class="i-name">icon-noun_47617_cc</span><span class="i-code">0xe806</span></div>
    <div title="Code: 0xe807" class="the-icons span3"><i class="demo-icon icon-ic_directions_48px">&#xe807;</i> <span class="i-name">icon-ic_directions_48px</span><span class="i-code">0xe807</span></div>
  </div>-->
</div>
<!-- End Section 2 -->
<!-- Start Section 3 -->
<div class="section-3">
  <div class="content">
    <div class="col-md-7">
      <div class="text-phone-second">
        <p class="title">+1000</p>
        <p class="subtitle">bares, pubs...</p>
        <p class="title">+100</p>
        <p class="subtitle">marcas de cerveza</p>
        <p class="title">OFERTAS NUEVAS</p>
        <p class="subtitle">todas las semanas</p>
        <p class="title">FRANQUICIAS</p>
        <p class="subtitle">100 montaditos, Sureña...</p>
      </div>
    </div>
    <div class="col-md-4 col-md-offset-1">
      <div class="img-phone">
        <img class="phone-second" src="/assets/phone_2.png" alt="phone screen" />
      </div>
    </div>
  </div>
</div>
<!-- End Section 3 -->
<!-- Start Footer -->
<footer class="footer">
  <div class="content">
    <div class="col-md-8">
      <div class="footer-social">
        <img src="assets/twitter.png" alt="Twitter" data-hover="twitterhover.png" data-normal="twitter.png" />
        <img src="assets/instagram.png" alt="Instagram" data-hover="instagramhover.png" data-normal="instagram.png" />
        <img src="assets/facebook.png" alt="Facebook" data-hover="facebookhover.png" data-normal="facebook.png" />
        <img src="assets/googleplus.png" alt="Google Plus" data-hover="googleplushover.png" data-normal="googleplus.png" />
      </div>
    </div>
    <div class="col-md-4">
      <div class="footer-links">
        <span>¿TIENES UN BAR?</span>
        <span>LEGAL</span>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer -->
